*{
    box-sizing: border-box;
    color: #777;
    font-family: 'Arial';

}
html, body {
 margin: 0;
 padding: 0;
 background-color: #e3f6d7;
}
.nav ul {
    margin: 0;
}
.nav li{
    display: inline;
}
.nav a {
  padding: .6;
  color: white;
  display: inline-block;
  text-decoration: none;
}
.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3)
}
.main-nav li{
    padding:5.5%
}
.nav a:hover {
    background-color: rgb(198, 190, 215);
}
.main-header {
    background-color: rgba(0,0,0, 0.7) ;
 background-image: url("images/dmw-logo.jpeg");
 background-blend-mode: multiply;
 background-size: 78px;
 padding-bottom: 0px;
}
.davido{
    text-align: center;
    margin:0;
    font-size: 3em;
    font-family: serif;
    font-weight: normal;
    font-style: normal;
    color: white;
}
.davido b {
    color: white;
}
.davido-large{
    font-size:2.8em;
}
.content-section{
    margin: 1em;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 0.6em
}
.section-head2{
    font-family: "Metal Mania";
    font-weight: normal;
    color:#333;
    text-align: center;
    font-size: 2.5em;
}
.about-davido-img{
    float: left;
    height: 250px;
    width: 250px;
    margin: 12px;
    border-radius: 50%;
}
.davido-logo{
    float: right;
    height: 100px;
    width:100px;
    margin: 2px;
    border-radius: 50%;
}
.division{
    height: 400px;
    width: 450px;
    margin: 2px;
}
.last{
    float: center;
}
.main-footer{
    background-color: #05242e;
    color: white;
    padding: 0.5em 0;
    height:100px;
    align-items: bottom center;
}
.main-footer-container{
    display:flex;
    align-items: center;
}

.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}
.footer-nav{
    padding: 0.5em 0;
}
.footer-nav img{
    width:60px;
    height:60px;
}
.btn{
    text-align:left;
    vertical-align: middle;
    padding: 0.67em;
    cursor: pointer;
    display: inline;
}
.btn-header{
 margin: 0.5em 15% 2em 9%;
 color: white;
 border: 2px solid #2D9CD6;
 border-radius: 0;
 background-color: rgba(255, 255, 255, 0.1);
 font-size: 1.5em;
 font-weight: lighter;
 padding-left:2em;
 padding-right:2em;
 align-items:flex-start;
}
.btn-header:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.btn-play{
    text-align: right;
    margin: 0 auto;
    color: #2D9CD6;
    font-size:3em;
    border-radius: 60%;
    padding: 0;
    width: 60px;
    height: 60px;
}
.lining{
    display: inline;
    padding:0.5em
}

.track-row{
    border-bottom: 1px solid black;
    padding: 1em;
    margin: 1em;
}

.track-row:last-child{
    border-bottom: none;
}

.track-item{
    padding-right: 0.5em;
    display: inline-block;
}
.track-date{
    color: 555;
    font-weight: bold;
    width: 11%;
}
.track-name{
    width: 42%;
}
.track-views{
    width: 25%;
}
.track-btn{
    max-width:19% ;
}
.btn-primary{
    color: white;
    background-color: #2D9CD6;
    border-radius: .3em;
    border: none;
    font-weight: bold ;
}
.btn-primary:hover{
    background-color: #a3b8c3;
}
.sample-item{
    margin: 30px;
}
.sample-item-title{
    display: block;
    width: 100%;
    text-align:initial;
    font-weight: bold;
    font-size: 1.3em;
    color:#333;
    margin-bottom: 15px;
}
.sample-item-image{
    height: 210px;
}
.sample-item-details{
    display: center;
    align-items: center;
    padding:5px;
}
.sample-iten-price{
    color:#333;
}
.sample-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header{
    font-weight: bold;
    font-size: 1.2em;
    color:#333
}
.cart-column{
    border-bottom: 4px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
